# Copyright 2024 Cisco Systems, Inc. and its affiliates
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)

- name: "Verify if user session with Azure is active"
  ansible.builtin.include_role:
    name: common
    tasks_from: az_user_session_probe

- name: "Assert all required variables for Azure network infrastructure deployment"
  ansible.builtin.include_role:
    name: common
    tasks_from: required_variables
    defaults_from: az_required_vars_network_infrastructure.yml

- name: "Replace underscores with hyphens in the az_resources_prefix string"
  ansible.builtin.set_fact:
    az_resources_prefix: "{{ az_resources_prefix | replace('_', '-') }}"

- name: "Prepare directory for results, path: {{ results_dir }}"
  ansible.builtin.file:
    path: "{{ results_dir }}"
    state: directory
    mode: "0755"

- name: Save default az_location
  ansible.builtin.set_fact:
    az_default_location: "{{ az_location }}"
    az_default_resource_group: "{{ az_resources_prefix }}-rg"

- name: "Network resources for SD-WAN machines"
  ansible.builtin.include_tasks:
    file: azure_network_infrastructure.yml
    apply:
      vars:
        az_resource_group: "{{ az_default_resource_group if item == az_default_location else az_resources_prefix~'-'~item~'-rg' }}"
        az_location: "{{ item }}"
  loop: "{{ az_all_locations }}"
  loop_control:
    label: "{{ item }}"

- name: "Network resources for SD-WAN tenants"
  ansible.builtin.include_tasks:
    file: azure_network_infrastructure.yml
    apply:
      vars:
        az_resource_group: "{{ item.org_name }}-rg"
  loop: "{{ tenants }}"
  loop_control:
    label: "{{ item.name }}"
  when: tenants is defined and tenants | length > 0
