# Copyright 2024 Cisco Systems, Inc. and its affiliates
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)

---

# For vManage:
# 2 aws_network_interface
# 2 aws_network_interface_attachment
# 2 aws_eip
# 1 ec2 instance

- name: AMI Registration from EBS Snapshot
  amazon.aws.ec2_ami:
    name: "{{ aws_tag_creator }}-Manager"
    region: "{{ aws_region }}"
    state: present
    architecture: x86_64
    virtualization_type: hvm
    root_device_name: /dev/xvda
    device_mapping:
      - device_name: /dev/xvda
        snapshot_id: "{{ volume_snapshots[0] }}"
        delete_on_termination: true
        volume_type: gp2
    tags:
      Name: "{{ aws_tag_creator }}-Manager"
      Creator: "{{ aws_tag_creator }}"
  when: volume_snapshots
  register: ami_result

# NICs
- name: Filter required subnets for instance creation. Set aws_mgmt_subnet and aws_transport_subnet facts
  ansible.builtin.set_fact:
    aws_mgmt_subnet: "{{ aws_subnets_config | selectattr('tags.VPN', 'equalto', '512') | list | first }}"
    aws_transport_subnet: "{{ aws_subnets_config | selectattr('tags.Name', 'search', 'transport') | list | first }}"
    aws_cluster_subnet: "{{ aws_subnets_config | selectattr('tags.Name', 'search', 'cluster') | list | first | default(omit) }}"

# Note that we don't have mechanism yet to detect if there are already required interfaces present on AWS for
# that particular machine. We should include here some check to verify that they exist and skip if present,
# because ec2_eni module is not so idempotent - meaning it required eni id to detect if it exists. We don't have it.
- name: Create network interfaces for vManage
  amazon.aws.ec2_eni:
    subnet_id: "{{ subnet_item.id }}"
    description: Network interface for SD-WAN Controller
    security_groups: "{{ aws_security_group_config.group_id }}"
    region: "{{ aws_region }}"
    private_ip_address: "{{ cluster_private_ip if subnet_item.tags.Name | regex_search('cluster') and cluster_private_ip else omit }}"
    tags:
      Name: "nic-{{ subnet_item.tags.Name }}"
      Creator: "{{ aws_tag_creator }}"
      Machine: "{{ hostname }}"
      VPN: "{{ subnet_item.tags.VPN }}"
  register: network_interfaces_vmanage
  loop: >
        {{
            [aws_mgmt_subnet, aws_transport_subnet]
            + ([aws_cluster_subnet] if aws_cluster_subnet is defined else [])
        }}
  loop_control:
    loop_var: subnet_item
    label: "nic-{{ subnet_item.tags.Name }}"

- name: Set aws_network_interfaces fact with a list of interfaces for vManage
  ansible.builtin.set_fact:
    aws_network_interfaces: "{{ network_interfaces_vmanage.results | map(attribute='interface') | list }}"

- name: Filter aws_network_interfaces for instance creation. Set NIC facts
  ansible.builtin.set_fact:
    aws_mgmt_nic: "{{ aws_network_interfaces | selectattr('tags.VPN', 'equalto', '512') | list | first }}"
    aws_transport_nic: "{{ aws_network_interfaces | selectattr('tags.Name', 'search', 'transport') | list | first }}"
    aws_cluster_nic: "{{ aws_network_interfaces | selectattr('tags.Name', 'search', 'cluster') | list | first | default(omit) }}"

- name: Set vmanage cluster related facts
  ansible.builtin.set_fact:
    vmanage_cluster_private_ip: "{{ aws_cluster_nic.private_ip_address }}"
    vmanage_cluster_prefix: "{{ aws_cluster_subnet.cidr_block.split('/')[1] }}"
  when:
    - aws_cluster_nic is defined
    - aws_cluster_subnet is defined

# EIPs
- name: Associate EIP with network interfaces
  amazon.aws.ec2_eip:
    device_id: "{{ interface_item.id }}"
    region: "{{ aws_region }}"
    in_vpc: true
    state: present
    reuse_existing_ip_allowed: true
    tags:
      Name: "eip-for-{{ interface_item.tags.Name }}"
      Creator: "{{ aws_tag_creator }}"
      Machine: "{{ hostname }}"
      VPN: "{{ interface_item.tags.VPN }}"
  loop: "{{ [aws_mgmt_nic, aws_transport_nic] }}"  # We do loop starting with mgmt nic, so we know results[0] is mgmt ip
  loop_control:
    loop_var: interface_item
    label: "eip-for-{{ interface_item.tags.Name }}"
  register: eip_vmanage
  retries: 3
  delay: 3
  until: eip_vmanage is succeeded

# cloud-init
- name: Set path for bootstrap configuration and vmanage persona
  ansible.builtin.set_fact:
    generated_userdata_vmanage: "{{ userdata_vmanage_path }}-{{ hostname }}"
    vmanage_persona: "{{ persona | default(vmanage_default_persona) }}"
  changed_when: true

- name: Template userdata file for vManage
  ansible.builtin.template:
    src: ./userdata_vmanage.j2
    dest: "{{ generated_userdata_vmanage }}"
    mode: "0644"

- name: Set vManage interfaces list
  ansible.builtin.set_fact:
    vmanage_interfaces:
      - id: "{{ aws_mgmt_nic.id }}"
        device_index: 0
        description: "{{ aws_mgmt_nic.tags.Name }}"
      - id: "{{ aws_transport_nic.id }}"
        device_index: 1
        description: "{{ aws_transport_nic.tags.Name }}"

- name: Add vManage cluster interface to vManage interfaces list
  ansible.builtin.set_fact:
    vmanage_interfaces: "{{ vmanage_interfaces + [{'id': aws_cluster_nic.id, 'device_index': 2, 'description': aws_cluster_nic.tags.Name}] }}"
  when: aws_cluster_nic is defined

# vManage
- name: Launch vManage
  amazon.aws.ec2_instance:
    count: 1
    instance_type: "{{ aws_vmanage_instance_type }}"
    image:
      id: "{{ ami_result.image_id if volume_snapshots else aws_vmanage_ami_id }}"
    state: present
    vpc_subnet_id: "{{ aws_mgmt_subnet.id }}"
    region: "{{ aws_region }}"
    key_name: "{{ aws_key_name | default('') | bool | ternary(aws_key_name, omit) }}"
    network:
      assign_public_ip: false
      interfaces: "{{ vmanage_interfaces }}"
    name: "{{ hostname }}"
    tags:
      Name: "{{ hostname }}"
      Creator: "{{ aws_tag_creator }}"
    user_data: "{{ lookup('file', generated_userdata_vmanage) }}"
    volumes:
      - device_name: /dev/xvda
        ebs:
          volume_size: 60
          delete_on_termination: true
      - device_name: /dev/sdb
        ebs:
          volume_size: 60
          delete_on_termination: true
          snapshot_id: "{{ volume_snapshots[1] if volume_snapshots else omit }}"
  register: ec2_vmanage

- name: Deregister/Delete AMI (keep associated snapshots)
  amazon.aws.ec2_ami:
    image_id: "{{ ami_result.image_id }}"
    delete_snapshot: false
    state: absent
    region: "{{ aws_region }}"
  when: volume_snapshots

- name: Store vManage instance details for deployment_results
  ansible.builtin.set_fact:
    instance:
      hostname: "{{ hostname }}"
      system_ip: "{{ system_ip }}"
      admin_username: "{{ admin_username }}"
      admin_password: "{{ admin_password }}"
      mgmt_public_ip: "{{ eip_vmanage.results[0].public_ip }}"
      transport_public_ip: "{{ eip_vmanage.results[1].public_ip }}"
      cluster_private_ip: "{{ aws_cluster_nic.private_ip_address | default(omit) }}"
      mgmt_public_ipv6: "{{ _created_mgmt_nic.ipv6_addresses[0].ipv6_address }}"
      transport_public_ipv6: "{{ _created_transport_nic.ipv6_addresses[0].ipv6_address }}"
      persona: "{{ vmanage_persona }}"
  changed_when: true
  notify: Show deployment_facts
  register: _vmanage_facts
  retries: 3
  delay: 5
  until: _vmanage_facts is succeeded
  vars:
    _created_mgmt_nic: "{{ ec2_vmanage.instances[0].network_interfaces | json_query('[?subnet_id==`'~aws_mgmt_subnet.id~'`]') | first }}"
    _created_transport_nic: "{{ ec2_vmanage.instances[0].network_interfaces | json_query('[?subnet_id==`'~aws_transport_subnet.id~'`]') | first }}"

- name: Update deployment facts - vManage - that will be consumed by vManage-client in Ansible
  ansible.builtin.set_fact:
    deployment_facts:
      vmanage_instances: "{{ deployment_facts.vmanage_instances + [instance] }}"
      vbond_instances: "{{ deployment_facts.vbond_instances }}"
      vsmart_instances: "{{ deployment_facts.vsmart_instances }}"

- name: Copy ec2 vManage resources information to log file
  ansible.builtin.blockinfile:
    create: true
    state: present
    mode: "0644"
    insertafter: EOF
    dest: "{{ aws_deployed_controllers_data }}"
    marker: "\n--------------    ec2 vManage   --------------\n"
    content: "{{ ec2_vmanage | to_nice_yaml }}"

- name: Set security group rules
  ansible.builtin.set_fact:
    sg_rules:
      - proto: all  # proto all means: `ports: all`
        cidr_ip: "{{ eip_vmanage.results[0].public_ip }}/32"
        rule_desc: "{{ hostname }} - mgmt (VPN 512)"
      - proto: all
        cidr_ip: "{{ eip_vmanage.results[1].public_ip }}/32"
        rule_desc: "{{ hostname }} - transport (VPN 0)"
      - proto: all
        cidr_ipv6: "{{ instance.mgmt_public_ipv6 }}/128"
        rule_desc: "{{ hostname }} - mgmt IPv6 (VPN 512)"
      - proto: all
        cidr_ipv6: "{{ instance.transport_public_ipv6 }}/128"
        rule_desc: "{{ hostname }} - transport IPv6 (VPN 0)"

- name: Update security group rules to handle cluster traffic
  ansible.builtin.set_fact:
    sg_rules: "{{ sg_rules + [{'proto': 'all', 'cidr_ip': vmanage_cluster_private_ip + '/32', 'rule_desc': hostname + ' - cluster (VPN 0)'}] }}"
  when: vmanage_cluster_private_ip is defined

- name: Configure security group
  amazon.aws.ec2_security_group:
    name: "{{ aws_security_group_config.group_name }}"
    description: "Security Group for SD-WAN instances"
    vpc_id: "{{ aws_vpc_config.id }}"
    region: "{{ aws_region }}"
    purge_rules: false
    purge_tags: false
    purge_rules_egress: false
    rules: "{{ sg_rules }}"
    rules_egress: "{{ sg_rules if aws_sg_block_egress else [] }}"
  register: allow_traffic
  retries: 3
  delay: 3
  until: allow_traffic is succeeded
